<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Django REST with React</title>
</head>
<body>
<div id="app">
    <!-- React will load here -->

    {% for post in posts %}
    <li>
        {{post}} 
        <form name='upvote' method='post'>
            <input type='submit' value='upvote'/>
        </form>
        <form name='downvote' method='post'>
            <input type='submit' value='downvote'/>
        </form>
    </li>
    {% endfor %}
</div>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
</html>